In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib

import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import skew
from scipy.stats import norm
from scipy.stats.stats import pearsonr

%config InlineBackend.figure_format = 'retina' #set 'png' here when working on notebook
%matplotlib inline

Read Data

In [ ]:
all_data_prj = pd.read_csv("train.csv")

In [ ]:
print(len(all_data_prj))

621300

In [ ]:
all_data_prj.head()

   SITE_ID  ... kurt_temperature_alarms_prev14d
0      146  ...                       -1.212308
1      146  ...                       -1.212308
2      146  ...                       -1.212308
3      146  ...                       -1.212308
4      146  ...                       -1.212308

[5 rows x 136 columns]

## Missing Values
Let's check how many missing values are in the data set and how can we deal with them.

In [ ]:
all_data_na = (all_data_prj.isnull().sum()).sort_values(ascending = False)
all_data_na = all_data_na.drop(all_data_na[all_data_na.values == 0].index)

Missing_data = pd.DataFrame({'Missing Numbers' :all_data_na})
print(Missing_data)

Empty DataFrame
Columns: [Missing Numbers]
Index: []

Count the number of missing values per row

In [ ]:
all_data_na = (Missing_data.isnull().sum(axis = 1)).sort_values(ascending = False)
all_data_na

Series([], dtype: int64)

In [ ]:
# Missing_data = Missing_data.drop([11475])